@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --primary-color: #047aed;
    --secondary-color: #1c3fa8; 
    --dark-color: #002240;
    --light-color: #f4f4f4;  
    --success-color: #5cb85c; 
    --error-color: #d9534f; 

}

* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: #333;
    line-height: 1.6;
}

/* Navbar */
ul
{
    list-style-type: none;
}
p
{
    margin: 10px 0;
}
a
{
    text-decoration: none;  
    color: #333;
}
h1, h2
{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
img
{
    width: 100%;
}
code, pre
{
    background: #333;
    color: #fff;
    padding: 10px;
}

.navbar
{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}
.navbar .flex
{
    justify-content: space-between;
}
.navbar ul 
{
    display: flex;
}
.navbar a
{
    color: white;
    padding: 0 10px;
    margin: 0 10px;
}
.navbar a:hover
{
    padding-bottom: 8px;
    border-bottom: 2px solid white;
}


/* Showcase */
.showcase
{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase h1
{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0; 
}
.showcase .grid
{
    grid-template-columns: 55% 45%;
    gap: 30px; 
}
.card 
{
    background-color: white;
    color: #333;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.showcase-form
{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    z-index: 100;
    padding: 40px;
    justify-content: flex-end;
    animation: SlideInFromRight 1s ease-in;
}
.showcase-form .form-control
{
 margin: 30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email'] 
{
    border: 0; 
    border-bottom: 1px solid #b2b2b2;
    width: 100%;
    font-size: 16px;
    padding-bottom: 3px;
}
.showcase-form input:focus
{
    outline:none; 
}
.btn-outline1
{
    background-color: transparent;
    border: 1px solid white;
}
.btn:hover
{
    transform: scale(0.98);
}
.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    bottom: -70px;
    background-color: white;
    transform: skewY(-2deg);
}
.showcase-text
{
    animation: SlideInFromLeft 1s ease-in;
}

/* Stats */
.stats
{
    padding-top: 100px;
    animation: SlideInFromBottom 1s ease-in;

}

.stats-heading
{
    /* max-width: 500px; */
    margin: auto;
}

.stats .grid h3
{
    font-size: 35px;
}

.stats .grid p
{
    font-size: 20px;
}

/*  cli  */
.cli .grid
{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child
{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid
{
    grid-template-columns: 4fr 3fr;
}

/* Languages */
.languages .flex{
    flex-wrap: wrap;
}

.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.1s ease-in;
}

.languages .card h4{
    font-size: 17px;
    margin-bottom: 10px;
}

.languages .card:hover
{
    transform: translateY(-15px);
}

/* Features  */
.features-head img, .docs-head img {
    width: 200px;
    justify-self: flex-end;
}
.features-sub-head img
{
    width: 300px;
    justify-self: flex-end;
}
.features-main .card > i
{
    margin-right: 20px;
}
.features-main .grid
{
 padding: 30px;
}

.features-main .grid > *:first-child
{
grid-column: 1 / span 3;
grid-row: 1;
}

.features-main .grid > *:nth-child(2)
{
grid-column: 1 / span 2;
grid-row: 2;
}

/* Docs */
.docs-main h3
{
    margin: 30px 0;
}
.docs-main .grid
{
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;  
}

.docs-main nav li
{
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}
.docs-main nav li:hover
{
    font-weight: bold;
}

/* Footer */
.footer .social a 
{
    margin: 0 10px;
}

/* Keyframes */
@keyframes SlideInFromLeft
{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes SlideInFromRight
{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes SlideInFromTop
{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes SlideInFromBottom
{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateX(0);
    }
}



/* Tablets and under */
@media(max-width: 768px)
{
    .grid, 
    .showcase .grid,
    .cli .grid, 
    .stats .grid, 
    .cloud .grid ,
    .features-head .grid, 
    .features-sub-head .grid,
    .features-main .grid,
    .docs-main
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase
    {
        height: auto;
    }
    .showcase-text
    {
     text-align: center;
     margin-top: 40px;
    }

    .showcase-form
    {
        justify-self: center;
        margin: auto;
    }

    .cli .grid > *:first-child
    {
    grid-column: 1;
    grid-row: 1;
    }

    .features-head, .features-sub-head, .docs-head
    {
        text-align: center;
    }
    
    .features-head img, .features-sub-head img, .docs-head img
    {
     justify-self: center;
    }
    .features-main .grid >*:first-child, 
    .features-main .grid >*:nth-child(2)
    {
        grid-column: 1;
    }
}

/* Mobaile */
@media(max-width: 500px)
{
    .navbar
    {
        height: 110px;
    }
    .navbar .flex
    {
        flex-direction: column;
    }
    .navbar ul
    {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 10px;
    }
}