/* Utilities: We can use it all around website */
.container
{
    overflow: auto;
    max-width: 1100px;
    margin: 0 auto 0;
    padding: 0 40px; 
}

.btn
{
    background-color: var(--primary-color);
    color: white;
    display: inline-block; 
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
}

/* Alert */
.alert
{
    background-color: var(--light-color);
    padding: 10px 20px;
    margin: 15px 0;
}
.alert-success
{
    background-color: var(--success-color);
    color: #fff;
}
.alert-error
{
    background-color: var(--error-color); 
    color: #fff;
}
.alert i{
    margin-right: 10px;
}


.flex  
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid
{
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.grid-3
{
    grid-template-columns: repeat(3, 1fr);
}

/* Backgruond & colored buttons */
.bg-primary, .btn-primary
{
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary, .btn-secondary
{
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark, .btn-dark
{
    background-color: var(--dark-color);
    color: #fff;
}

.bg-light, .btn-light
{
    background-color: var(--light-color);
    color: #333;
}

.bg-primary a, .btn-primary a, .bg-primary a, .btn-primary a, .bg-dark a, .btn-dark a, .btn-light a
{
    color: #fff;
}

/* Text colors */
.text-primary
{
    color: var(--primary-color);
}

.text-secondary
{
    color: var(--secondary-color);
}

.text-dark
{
    color: var(--dark-color);
}

.text-light
{
    color: var(--light-color);
}


/* Text Sizes */
.lead
{
    font-size: 20px;
}

.sm
{
    font-size: 1rem;
}

.md
{
    font-size: 2rem;
}

.lg 
{
    font-size: 3rem;
}

.xl 
{
    font-size: 4rem;
}
.text-center
{
    text-align: center;
}

/* Margin */
.my-1
{
    margin: 1rem 0;
}

.my-2
{
    margin: 1.5rem 0;
}

.my-3
{
    margin: 2rem 0;
}

.my-4
{
    margin: 3rem 0;
}

.my-5{
    margin: 4rem 0;
}

.m-1
{
    margin: 1rem;
}

.m-2
{
    margin: 1.5rem;
}

.m-3
{
    margin: 2rem;
}

.m-4
{
    margin: 3rem;
}

.m-5
{
    margin: 4rem;
}

/* Padding */
.py-1
{
    padding: 1rem 0;
}

.py-2
{
    padding: 1.5rem 0;
}

.py-3
{
    padding: 2rem 0;
}

.py-4
{
    padding: 3rem 0;
}

.py-5{
    padding: 4rem 0;
}

.p-1
{
    padding: 1rem;
}

.p-2
{
    padding: 1.5rem;
}

.p-3
{
    padding: 2rem;
}

.p-4
{
    padding: 3rem;
}

.p-5
{
    padding: 4rem;
}